{{define "header"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="content-type">
		<meta charset="utf-8">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<title>
			clay
		</title>
		<meta content="Bootply" name="generator">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
		<link href="/ui/files/css/bootstrap.min.css" rel="stylesheet">
		<link href="/ui/files/css/styles.css" rel="stylesheet">
		<script src="/ui/files/js/bootstrap.min.js">
		</script>
		<script src="/ui/files/js/jquery.min.js">
		</script>
		<script src="/ui/files/js/d3.js">
		</script>
		<script src="/ui/files/js/inet-henge/vendor/cola.3.1.3.min.js">
		</script>
		<script src="/ui/files/js/inet-henge/inet-henge.js">
		</script>
	</head>
	<body>
		<div class="container-fluid">
{{end}}
