{{define "navbar"}}
<div class="row">
  <div class="col-xs-2 bg-idefault">
    <a href="/ui/network">Network Design</a>
  </div>
  <div class="col-xs-13 bg-idefault">
    &nbsp;
  </div>
</div>
<div class="row">
  <div class="col-xs-2 bg-idefault">
    <a href="#" id="physical_diagram_link">Physical Diagram</a>
  </div>
  <div class="col-xs-2 bg-idefault">
    <a href="#" id="logical_diagram_link">Logical Diagram</a>
  </div>
  <div class="col-xs-13 bg-idefault">
    &nbsp;
  </div>
</div>
{{end}}
