{{- $layer2Interfaces := .ModelStore.Multi "diagram_layer2_interfaces" "preloads=node.node_type,vlan" -}}
{{- $nodes := .ModelStore.Multi "nodes" "preloads=node_type" -}}
{{- $diagramNodeMap := .Collection.Map -}}
{{- $interfaceMap := .Collection.Map -}}
{
  "nodes": [
  {{ range $i, $node := $nodes.Records }}
    {{ $diagramNodeKey := printf "%d_2_1" $node.ID }}
    {{ $diagramNodeCount := len $diagramNodeMap }}
      {{ $nodeExists := $diagramNodeMap.Exists $diagramNodeKey }}
      {{ if ne $nodeExists true }}
    {{ if ne $diagramNodeCount 0 }},{{ end }}{
      "name": "{{ $node.Name }}",
      "icon": "/ui/files/images/diagram/{{ $node.NodeType.Name }}_{{ $node.Virtual }}.png",
      "meta": {
        "node_extra_information": "-",
        "diagram_node_id": "{{ $diagramNodeKey }}"
      }
    }
      {{ $diagramNodeMap := $diagramNodeMap.Put $diagramNodeKey true }}
    {{ end }}
  {{ end }}
  {{ range $i, $layer2Interface := $layer2Interfaces.Records }}
    {{ $diagramNodeKey := printf "%d_2_2" $layer2Interface.VlanID }}
    {{ $diagramNodeCount := len $diagramNodeMap }}
    {{ if ne $layer2Interface.VlanID 0 }}
      {{ $vlanExists := $diagramNodeMap.Exists $diagramNodeKey }}
      {{ if ne $vlanExists true }}
    {{ if ne $diagramNodeCount 0 }},{{ end }}{
      "name": "{{ $layer2Interface.Vlan.Name }}",
      "icon": "/ui/files/images/diagram/Segment.png",
      "meta": {
        "node_extra_information": "{{ printf "(VLAN %04d)" $layer2Interface.VlanID }}",
        "diagram_node_id": "{{ $diagramNodeKey }}"
      }
    }
      {{ $diagramNodeMap := $diagramNodeMap.Put $diagramNodeKey true }}
      {{ end }}
    {{ end }}
  {{ end }}
  ],
  "links": [
  {{ range $i, $layer2Interface := $layer2Interfaces.Records }}
    {{ $interfaceCount := len $interfaceMap }}
    {{ if ne $interfaceCount 0 }},{{ end }}{
        "source": "{{ $layer2Interface.Node.Name }}",
        "target": "{{ $layer2Interface.Vlan.Name }}",
        "meta": {
          "interface": {
            "source": "{{ $layer2Interface.Name }}",
            "target": ""
          },
          {{ $macAddressLen := len $layer2Interface.MacAddress }}
          "mac_address": {
            "source": "{{ if eq $macAddressLen 0 }}-{{ else }}{{ $layer2Interface.MacAddress }}{{ end }}",
            "target": ""
          },
          "ipv4_address": null
        }
    }
      {{ $interfaceMap := $interfaceMap.Put true true }}
    {{ end}}
  ]
}
