{{/* <script> */}}

var storedCallbackHostKindInformationUpdated = null;

function showHostKindInformation(hostKindID, callbackHostKindInformationUpdated) {
  storedCallbackHostKindInformationUpdated = callbackHostKindInformationUpdated;

  if (hostKindID == null) {
    var hostKind = {
      id: 0,
      name: '',
      host_configuration: {
        id: 0,
        image_name: '',
        initialization_template_id: 0,
        initialization_template: {
          template_content: ''
        },
        configuration_template_id: 0,
        configuration_template: {
          template_content: ''
        }
      }
    };
    repaintHostKindInformation(hostKind, true);
  } else {
    getResource('host_kinds', hostKindID, 'preloads=host_configuration.initialization_template,host_configuration.configuration_template', function(hostKind) {
      repaintHostKindInformation(hostKind, true);
    });
  }
}

function repaintHostKindInformation(hostKind, initializeTabSelection) {
  var host_kind_information_table = $('#host_kind_information_float_panel #host_kind_information_tab #host_kind_information_table');

  host_kind_information_table.find('input[name=id]').val(hostKind.id);
  host_kind_information_table.find('input[name=name]').val(hostKind.name);
  host_kind_information_table.find('input[name=host_kind_host_configuration_image_name]').val(hostKind.host_configuration.image_name);
  host_kind_information_table.find('input[name=host_kind_host_configuration_id]').val(hostKind.host_configuration.id);

  $('#host_kind_information_float_panel #host_kind_host_configuration_initialization_template_tab').find('input[name=host_kind_host_configuration_initialization_template_id]').val(hostKind.host_configuration.initialization_template.id);
  $('#host_kind_information_float_panel #host_kind_host_configuration_initialization_template_tab').find('textarea[name=host_kind_host_configuration_initialization_template_content]').val(hostKind.host_configuration.initialization_template.template_content);
  $('#host_kind_information_float_panel #host_kind_host_configuration_configuration_template_tab').find('input[name=host_kind_host_configuration_configuration_template_id]').val(hostKind.host_configuration.configuration_template.id);
  $('#host_kind_information_float_panel #host_kind_host_configuration_configuration_template_tab').find('textarea[name=host_kind_host_configuration_configuration_template_content]').val(hostKind.host_configuration.configuration_template.template_content);

  if (initializeTabSelection) {
    $('#host_kind_information_float_panel a[href="#host_kind_information_tab"]').tab('show');
  }
  $('#host_kind_information_float_panel').fadeIn(50);

  $('#page_cover').fadeIn(50);
}

$('#host_kind_information_float_panel a[data-toggle=tab]').on('shown.bs.tab', function(e) {
});

$('#host_kind_information_panel').on('click', 'button[name=cancel_host_kind_btn]', function() {
  $('#host_kind_information_float_panel').fadeOut(50, function() {
    $('#page_cover').fadeOut(50);
  });
});

$('#host_kind_information_panel').on('click', 'button[name=update_host_kind_btn]', function() {
  if (!confirm('Are you sure to register/update the host kind?')) {
    return;
  }

  var hostKindID = $('#host_kind_information_panel').find('input[name=id]').val();
  if ((hostKindID == null) || (hostKindID == undefined) || (hostKindID == '')) {
    hostKindID = 0;
  }

  var hostKindName = $('#host_kind_information_panel').find('input[name=name]').val();
  var hostKindConfigurationID = $('#host_kind_information_panel').find('input[name=host_kind_host_configuration_id]').val();
  var hostKindConfigurationImageName = $('#host_kind_information_panel').find('input[name=host_kind_host_configuration_image_name]').val();
  var hostKindConfigurationInitializationTemplateID = $('#host_kind_information_panel').find('input[name=host_kind_host_configuration_initialization_template_id]').val();
  var hostKindConfigurationInitializationTemplate = $('#host_kind_information_panel').find('textarea[name=host_kind_host_configuration_initialization_template_content]').val();
  var hostKindConfigurationConfigurationTemplateID = $('#host_kind_information_panel').find('input[name=host_kind_host_configuration_configuration_template_id]').val();
  var hostKindConfigurationConfigurationTemplate = $('#host_kind_information_panel').find('textarea[name=host_kind_host_configuration_configuration_template_content]').val();

  var hostKind = {
    id: parseInt(hostKindID),
    name: hostKindName,
    host_configuration: {
      id: parseInt(hostKindConfigurationID),
      image_name: hostKindConfigurationImageName,
      initialization_template_id: parseInt(hostKindConfigurationInitializationTemplateID),
      initialization_template: {
        id: parseInt(hostKindConfigurationInitializationTemplateID),
        template_content: hostKindConfigurationInitializationTemplate
      },
      configuration_template_id: parseInt(hostKindConfigurationConfigurationTemplateID),
      configuration_template: {
        id: parseInt(hostKindConfigurationConfigurationTemplateID),
        template_content: hostKindConfigurationConfigurationTemplate
      }
    }
  };
  if (hostKindID == 0) {
    delete(hostKind['id']);
    delete(hostKind.host_configuration['id']);
    delete(hostKind.host_configuration['initialization_template_id']);
    delete(hostKind.host_configuration['configuration_template_id']);
    delete(hostKind.host_configuration.initialization_template['id']);
    delete(hostKind.host_configuration.configuration_template['id']);
  }

  if (hostKind.id == undefined) {
    postResource('host_kinds', hostKind, '', function(result, xhr) {
      showProcessResult(result, xhr, 201, "The host kind information has been registered successfully.");
      postProcessUpdateHostKind(result, xhr);
    });
  } else {
    putResource('host_kinds', hostKind.id, hostKind, '', function(result, xhr) {
      showProcessResult(result, xhr, 200, "The host kind information has been updated successfully.");
      postProcessUpdateHostKind(result, xhr);
    });
  }

});

function postProcessUpdateHostKind(result, xhr) {
  var hostKindID = result.id;

  getResource('host_kinds', hostKindID, 'preloads=host_configuration.initialization_template,host_configuration.configuration_template', function(hostKind) {
    repaintHostKindInformation(hostKind, false);
    if ((storedCallbackHostKindInformationUpdated != null) && (storedCallbackHostKindInformationUpdated != undefined)) {
      storedCallbackHostKindInformationUpdated();
    }
  });
}

function deleteHostKindInformation(hostKindID, callbackHostKindInformationDeleted) {
  if (!confirm('Are you sure to delete the host kind?')) {
    return;
  }

  deleteResource('host_kinds', hostKindID, '', function(result, xhr) {
    showProcessResult(result, xhr, 204, "The host kind information has been deleted successfully.");
    callbackHostKindInformationDeleted();
  });
}
