{{/* <script> */}}

var storedCallbackExecutionInformationUpdated = null;

function showExecutionInformation(executionName, callbackExecutionInformationUpdated) {
  storedCallbackExecutionInformationUpdated = callbackExecutionInformationUpdated;

  if (executionName == null) {
    var execution = {
      name: '',
      description: '',
      status: '',
      return_value: '',
      error: '',
      started_at: '',
      finished_at: ''
    };
    repaintExecutionInformation(execution, [], true);
  } else {
    getResource('ephemeral_scripts', executionName, '', function(execution) {
      repaintExecutionInformation(execution, [], true);
    });
  }
}

function getInputDataList() {
  var inputDataList = [];
  $('#execution_information_panel #execution_data_tab #execution_data_table').DataTable().rows().every(function(){
    var dataTr = $(this.node());
    var dataFieldName = dataTr.find('input[name=field_name]').val();
    var dataFieldValue = dataTr.find('input[name=field_value]').val();

    var inputData = {
      field_name: dataFieldName,
      field_value: dataFieldValue
    };

    inputDataList.push(inputData);
  });

  return inputDataList;
}

function repaintExecutionInformation(execution, inputDataList, initializeTabSelection) {
  var execution_information_table = $('#execution_information_float_panel #execution_information_tab #execution_information_table');

  var buttonElements = [];
  if (execution.name == '') {
    buttonElements.push({name: 'update_execution_btn', buttonClass: 'btn btn-default', spanClass: 'glyphicon glyphicon-ok', text: ''});
  } else {
    buttonElements.push({name: 'update_execution_btn', buttonClass: 'btn btn-default', spanClass: 'glyphicon glyphicon-ok', text: ''});
    if (execution.status == 'running') {
      buttonElements.push({name: 'stop_execution_btn', buttonClass: 'btn btn-default', spanClass: 'glyphicon glyphicon-stop', text: ''});
    } else {
      buttonElements.push({name: 'run_execution_btn', buttonClass: 'btn btn-default', spanClass: 'glyphicon glyphicon-play', text: ''});
    }
    buttonElements.push({name: 'refresh_execution_btn', buttonClass: 'btn btn-default', spanClass: 'glyphicon glyphicon-refresh', text: ''});
  }

  buttonElements.push({name: 'cancel_execution_btn', buttonClass: 'btn btn-default', spanClass: 'glyphicon glyphicon-remove', text: ''});
  $('#execution_information_panel').find('h1[name=execution_information_panel_title]').children().last().remove();
  $('#execution_information_panel').find('h1[name=execution_information_panel_title]').append(createButtonGroupElement(buttonElements));

  execution_information_table.find('input[name=name]').val(execution.name);
  execution_information_table.find('input[name=description]').val(execution.description);
  execution_information_table.find('input[name=status]').val(execution.status);
  execution_information_table.find('input[name=return_value]').val(execution.return_value);
  execution_information_table.find('input[name=error]').val(execution.error);
  execution_information_table.find('input[name=started_at]').val(execution.started_at);
  execution_information_table.find('input[name=finished_at]').val(execution.finished_at);

  $('#execution_information_float_panel #execution_script_tab').find('textarea[name=script_content]').val(execution.script_content);

  if (initializeTabSelection) {
    $('#execution_information_float_panel a[href="#execution_information_tab"]').tab('show');
  }
  $('#execution_information_float_panel').fadeIn(50);

  $('#execution_information_float_panel #execution_data_tab #execution_data_table').DataTable({
    sDom: '<"row"<"col-sm-5"l><"col-sm-6 right"f>>tip',
    order: [[1, 'asc']],
    scrollX: true,
    paginate: true,
    destroy: true,
    data: inputDataList,
    columns: [
      {title: '', sortable: false, render: function (data, type, full, meta) {
          return createButtonElement('execution_delete_data_btn', 'btn btn-default', 'glyphicon glyphicon-minus', '').outerHTML;
        }
      },
      {title: 'FieldName', data: 'field_name', defaultContent: '', sortable: false, render: function (data, type, full, meta) {
          return createTextElement('field_name', 'in-table', '', '', data).outerHTML;
        }
      },
      {title: 'FieldValue', data: 'field_value', defaultContent: '', sortable: false, render: function (data, type, full, meta) {
          return createTextElement('field_value', 'in-table', '', '', data).outerHTML;
        }
      }
    ]
  });

  $('#page_cover').fadeIn(50);
}

$('#execution_information_float_panel a[data-toggle=tab]').on('shown.bs.tab', function(e) {
  var inputDataList = getInputDataList();
  var executionName = $('#execution_information_panel').find('input[name=name]').val();
  getResource('ephemeral_scripts', executionName, '', function(execution) {
    repaintExecutionInformation(execution, inputDataList, false);
  }, function(execution) {});
})

$('#execution_information_panel').on('click', 'button[name=run_execution_btn]', function() {
  var executionName = $('#execution_information_panel').find('input[name=name]').val();
  if ((executionName == null) || (executionName == undefined) || (executionName == '')) {
    alert('Register execution first.');
    return;
  }

});

$('#execution_information_panel').on('click', 'button[name=cancel_execution_btn]', function() {
  $('#execution_information_float_panel').fadeOut(50, function() {
    $('#page_cover').fadeOut(50);
  });
});

$('#execution_information_panel').on('click', 'button[name=refresh_execution_btn]', function() {
  var inputDataList = getInputDataList();
  var execution_information_table = $('#execution_information_float_panel #execution_information_tab #execution_information_table');
  var executionName = execution_information_table.find('input[name=name]').val();
  getResource('ephemeral_scripts', executionName, '', function(execution) {
    repaintExecutionInformation(execution, inputDataList, false);
  });
});

$('#execution_information_panel').on('click', 'button[name=run_execution_btn]', function() {
  var inputDataList = getInputDataList();
  var execution_information_table = $('#execution_information_float_panel #execution_information_tab #execution_information_table');
  var executionName = execution_information_table.find('input[name=name]').val();
  runExecution(executionName, function() {
    getResource('ephemeral_scripts', executionName, '', function(execution) {
      repaintExecutionInformation(execution, inputDataList, false);
    });
  });
});

$('#execution_information_panel').on('click', 'button[name=stop_execution_btn]', function() {
  var inputDataList = getInputDataList();
  var execution_information_table = $('#execution_information_float_panel #execution_information_tab #execution_information_table');
  var executionName = execution_information_table.find('input[name=name]').val();
  stopExecution(executionName, function() {
    getResource('ephemeral_scripts', executionName, '', function(execution) {
      repaintExecutionInformation(execution, inputDataList, false);
    });
  });
});

$('#execution_information_panel').on('click', 'button[name=update_execution_btn]', function() {
  if (!confirm('Are you sure to register the execution?')) {
    return;
  }

  var executionName = $('#execution_information_panel').find('input[name=name]').val();
  var executionDescription = $('#execution_information_panel').find('input[name=description]').val();
  var executionScriptContent = $('#execution_information_panel').find('textarea[name=script_content]').val();

  var execution = {
    name: executionName,
    description: executionDescription,
    script_content: executionScriptContent
  };

  putResource('ephemeral_scripts', executionName, execution, '', function(result, xhr) {
    showProcessResult(result, xhr, 200, "The execution information has been registered successfully.");
    postProcessUpdateExecution(result, xhr);
  });

});

function postProcessUpdateExecution(result, xhr) {
  var executionName = result.name;
  var inputDataList = getInputDataList();

  getResource('ephemeral_scripts', executionName, '', function(execution) {
    repaintExecutionInformation(execution, inputDataList, false);
    if ((storedCallbackExecutionInformationUpdated != null) && (storedCallbackExecutionInformationUpdated != undefined)) {
      storedCallbackExecutionInformationUpdated();
    }
  });
}

function deleteExecutionInformation(executionName, callbackExecutionInformationDeleted) {
  if (!confirm('Are you sure to delete the execution?')) {
    return;
  }

  deleteResource('ephemeral_scripts', executionName, '', function(result, xhr) {
    showProcessResult(result, xhr, 204, "The execution information has been deleted successfully.");
    callbackExecutionInformationDeleted();
  });
}

function runExecution(executionName, callbackExecutionStarted) {
  if (!confirm('Are you sure to execute?')) {
    return;
  }

  var data = {};
  $('#execution_information_panel #execution_data_tab #execution_data_table').DataTable().rows().every(function(){
    var dataTr = $(this.node());
    var dataFieldName = dataTr.find('input[name=field_name]').val();
    var dataFieldValue = dataTr.find('input[name=field_value]').val();

    data[dataFieldName] = dataFieldValue;
  });

  postResource('ephemeral_scripts/' + executionName + '/execution', {data: data}, '', function(result, xhr) {
    showProcessResult(result, xhr, 201, "The execution has started successfully.");
    callbackExecutionStarted();
  });
}

function stopExecution(executionName, callbackExecutionCancelled) {
  if (!confirm('Are you sure to stop?')) {
    return;
  }

  deleteResource('ephemeral_scripts/' + executionName, 'execution', '', function(result, xhr) {
    showProcessResult(result, xhr, 204, "The execution has been stopped successfully.");
    callbackExecutionCancelled();
  });
}

function stopExecution(executionName, callbackExecutionCancelled) {
  if (!confirm('Are you sure to stop?')) {
    return;
  }

  deleteResource('ephemeral_scripts/' + executionName, 'execution', '', function(result, xhr) {
    showProcessResult(result, xhr, 204, "The execution has been stopped successfully.");
    callbackExecutionCancelled();
  });
}

$('#execution_information_panel #execution_data_tab').on('click', 'button[name=execution_add_data_btn]', function() {
  var data = {
    field_name: '',
    field_data: ''
  };

  $('#execution_information_panel #execution_data_tab #execution_data_table').DataTable().row.add(data).draw();
  $('#execution_information_panel #execution_data_tab #execution_data_table').DataTable().draw();
});

$('#execution_information_panel #execution_data_tab #execution_data_table').on('click', 'button[name=execution_delete_data_btn]', function() {
  var tr = $(this).closest('tr');
  $('#execution_information_panel #execution_data_tab #execution_data_table').DataTable().row(tr).remove().draw();
});
