{{- $parameterMap := .Collection.Map -}}

{{- $resourceName := .Query.Get "resource_name" -}}

{{- $termsOrder := .Query.Get "terms_order" -}}
{{- $termsElementList := .String.Split $termsOrder "," -}}

{{- $terms := .Query.Get "terms" -}}
{{- $parameterList := .String.Split $terms "." -}}
{{- $parameterListLen := len $parameterList -}}

{{- if eq $parameterListLen 1 -}}
  {{- $firstName := index $termsElementList 0 }}
  {{- $firstTerm := index $parameterList 0 }}
  {{- $searchParameter := printf "&q[%s]=%%25%s%%25" $firstName $firstTerm -}}
  {{- $parameterMap := $parameterMap.Put "search" $searchParameter -}}
{{- else -}}
  {{- $firstName := index $termsElementList 0 }}
  {{- $secondName := index $termsElementList 1 }}
  {{- $firstTerm := index $parameterList 0 }}
  {{- $secondTerm := index $parameterList 1 }}
  {{- $searchParameter := printf "&q[%s]=%s&q[%s]=%%25%s%%25" $firstName $firstTerm $secondName $secondTerm -}}
  {{- $parameterMap := $parameterMap.Put "search" $searchParameter -}}
{{- end -}}

{{- $limit := .Query.Get "length" -}}
{{- $limitParameter := printf "&limit=%s" $limit -}}
{{- $parameterMap := $parameterMap.Put "limit" $limitParameter -}}

{{- $limitParameter := $parameterMap.Get "limit" -}}
{{- $searchParameter := $parameterMap.Get "search" -}}

{{- $query := printf "%s%s" $limitParameter $searchParameter -}}

{{- $data := .ModelStore.Multi $resourceName $query -}}

{{- $dataJSON := .Conversion.JSONMarshal $data.Records " " -}}

{
  "results": {{ $dataJSON }}
}
