{{- $parameterMap := .Collection.Map -}}

{{- $columns := .Query.Get "columns" -}}
{{- $columnList := .String.Split $columns "," -}}

{{- $columnIndexString := .Query.Get "order[0][column]" -}}
{{- $columnIndex := .Conversion.Int $columnIndexString -}}
{{- $column := index $columnList $columnIndex -}}

{{- $order := .Query.Get "order[0][dir]" -}}
{{- if eq $order "asc" -}}
  {{- $sortParameter := printf "&sort=%s" $column -}}
  {{- $parameterMap := $parameterMap.Put "sort" $sortParameter -}}
{{- else -}}
  {{- $sortParameter := printf "&sort=-%s" $column -}}
  {{- $parameterMap := $parameterMap.Put "sort" $sortParameter -}}
{{- end -}}

{{- $limit := .Query.Get "length" -}}
{{- $limitParameter := printf "&limit=%s" $limit -}}
{{- $parameterMap := $parameterMap.Put "limit" $limitParameter -}}

{{- $start := .Query.Get "start" -}}

{{- $limitInt := .Conversion.Int $limit -}}
{{- $startInt := .Conversion.Int $start -}}
{{- $tempInt := div $startInt $limitInt -}}
{{- $pageInt := add $tempInt 1 -}}
{{- $pageParameter := printf "&page=%d" $pageInt -}}
{{- $parameterMap := $parameterMap.Put "page" $pageParameter -}}

{{- $search := .Query.Get "search[value]" -}}
{{- $searchLen := len $search -}}
{{- if ne $searchLen 0 -}}
  {{- $searchParameter := printf "&q[%s]=%%25%s%%25" $column $search -}}
  {{- $parameterMap := $parameterMap.Put "search" $searchParameter -}}
{{- else -}}
  {{- $parameterMap := $parameterMap.Put "search" "" -}}
{{- end -}}

{{- $resourceName := .Query.Get "resource_name" -}}

{{- $preloads := .Query.Get "resource_preloads" -}}
{{- $preloadsLen := len $preloads -}}
{{- if ne $preloadsLen 0 -}}
  {{- $preloadsParameter := printf "&preloads=%s" $preloads -}}
  {{- $parameterMap := $parameterMap.Put "preloads" $preloadsParameter -}}
{{- else -}}
  {{- $parameterMap := $parameterMap.Put "preloads" "" -}}
{{- end -}}

{{- $fields := .Query.Get "resource_fields" -}}
{{- $fieldsLen := len $fields -}}
{{- if ne $fieldsLen 0 -}}
  {{- $fieldsParameter := printf "&fields=%s" $fields -}}
  {{- $parameterMap := $parameterMap.Put "fields" $fieldsParameter -}}
{{- else -}}
  {{- $parameterMap := $parameterMap.Put "fields" "" -}}
{{- end -}}

{{- $preloadsParameter := $parameterMap.Get "preloads" -}}
{{- $fieldsParameter := $parameterMap.Get "fields" -}}
{{- $sortParameter := $parameterMap.Get "sort" -}}
{{- $limitParameter := $parameterMap.Get "limit" -}}
{{- $pageParameter := $parameterMap.Get "page" -}}
{{- $searchParameter := $parameterMap.Get "search" -}}

{{- $query := printf "%s%s%s%s%s%s" $preloadsParameter $fieldsParameter $sortParameter $limitParameter $pageParameter $searchParameter -}}

{{- $data := .ModelStore.Multi $resourceName $query -}}

{{- $dataRecordsJSON := .Conversion.JSONMarshal $data.Records "  " -}}

{
  "recordsTotal": {{ $data.Total }},
  "recordsFiltered": {{ $data.CountBeforePagination }},
  "data": {{ $dataRecordsJSON }}
}
