{{- $layer1Interfaces := .ModelStore.Multi "diagram_layer1_interfaces" "preloads=node,destination_node" -}}
{{- $nodes := .ModelStore.Multi "nodes" "preloads=ports,node_type" -}}
{{- $lastNodeIndex := sub $nodes.Total 1 -}}
{{- $nodeLinkNameMap := .Collection.Map -}}
{
  "links": [
  {{ range $i, $layer1Interface := $layer1Interfaces.Records }}
    {{ if ne $layer1Interface.DestinationID "" }}
      {{- $nodeLinkName := printf "%d_%d" $layer1Interface.NodeID $layer1Interface.DestinationNodeID -}}
      {{- $nodeLinkProcessed := $nodeLinkNameMap.Exists $nodeLinkName -}}
      {{- if eq $nodeLinkProcessed false -}}
        {{- $nodeLinkProcessedLen := len $nodeLinkNameMap }}
    {{ if ne $nodeLinkProcessedLen 0 }},{{ end }}{
      "source": "{{ $layer1Interface.Node.Name }}",
      "target": "{{ $layer1Interface.DestinationNode.Name }}",
      "meta": {
        "interface": {
          "source": "[{{ $layer1Interface.Number }}]{{ $layer1Interface.Name }}",
          "target": "[{{ $layer1Interface.DestinationNumber }}]{{ $layer1Interface.DestinationName }}"
        },
        "mac_address": null,
        "ipv4_address": null
      }
    }
        {{- $nodeLinkName := printf "%d_%d" $layer1Interface.NodeID $layer1Interface.DestinationNodeID -}}
        {{- $nodeLinkNameMap := $nodeLinkNameMap.Put $nodeLinkName true -}}
        {{- $nodeLinkName := printf "%d_%d" $layer1Interface.DestinationNodeID $layer1Interface.NodeID -}}
        {{- $nodeLinkNameMap := $nodeLinkNameMap.Put $nodeLinkName true -}}
      {{ end }}
    {{ end }}
  {{ end }}
  ],
  "nodes": [
  {{ range $i, $node := $nodes.Records }}
    {{- $diagramNodeKey := printf "%d_1_1" $node.ID }}
    {
      "name": "{{ $node.Name }}",
      "icon": "/ui/files/images/diagram/{{ $node.NodeType.Name }}_{{ $node.Virtual }}.png",
      "meta": {
        "node_extra_information": "-",
        "diagram_node_id": "{{ $diagramNodeKey }}"
      }
    }{{ if ne $i $lastNodeIndex }},{{end}}
  {{ end }}
  ]
}
