{{- $layer3Interfaces := .ModelStore.Multi "layer3_interfaces" "preloads=node.node_type" -}}
{{- $subnets := .ModelStore.Multi "subnets" "" -}}
{{- $nodes := .ModelStore.Multi "nodes" "preloads=node_type" -}}
{{- $diagramNodeMap := .Collection.Map -}}
{{- $interfaceMap := .Collection.Map -}}
{{- $networkUtil := .Network -}}
{{- $collectionUtil := .Collection -}}
{{- $stringUtil := .String -}}
{
  "nodes": [
  {{ range $i, $node := $nodes.Records }}
    {{ $diagramNodeKey := printf "%d_3_1" $node.ID }}
    {{ $diagramNodeCount := len $diagramNodeMap }}
      {{ $nodeExists := $diagramNodeMap.Exists $diagramNodeKey }}
      {{ if ne $nodeExists true }}
    {{ if ne $diagramNodeCount 0 }},{{ end }}{
      "name": "{{ $node.Name }}",
      "icon": "/ui/files/images/diagram/{{ $node.NodeType.Name }}_{{ $node.Virtual }}.png",
      "meta": {
        "node_extra_information": "-",
        "diagram_node_id": "{{ $diagramNodeKey }}"
      }
    }
      {{ $diagramNodeMap := $diagramNodeMap.Put $diagramNodeKey true }}
    {{ end }}
  {{ end }}
  {{ range $i, $subnet := $subnets.Records }}
    {{ $diagramNodeKey := printf "%d_3_3" $subnet.ID }}
    {{ $diagramNodeCount := len $diagramNodeMap }}
    {{ if ne $diagramNodeCount 0 }},{{ end }}{
    "name": "{{ printf "%s/%d" $subnet.Address $subnet.Prefix }}",
    "icon": "/ui/files/images/diagram/Segment.png",
    "meta": {
      "node_extra_information": "{{ printf "(%s in VLAN %04d)" $subnet.Name $subnet.VlanID }}",
      "diagram_node_id": "{{ $diagramNodeKey }}"
    }
  }
    {{ $diagramNodeMap := $diagramNodeMap.Put $diagramNodeKey true }}
  {{ end }}
  ],
  "links": [
  {{ $subnetMap := $collectionUtil.Hash $subnets.Records "ID" }}
  {{ $nodeMap := $collectionUtil.Hash $nodes.Records "ID" }}
  {{ $subnetNodeInterfacesMap := $collectionUtil.Map }}
  {{ range $i, $subnet := $subnets.Records }}
    {{ $subnetCIDRString := printf "%s/%d" $subnet.Address $subnet.Prefix }}
    {{ $subnetCIDR := $networkUtil.ParseCIDR $subnetCIDRString }}

    {{ range $j, $layer3Interface := $layer3Interfaces.Records }}
      {{ if eq $subnet.VlanID $layer3Interface.VlanID }}
        {{ $layer3InterfaceCIDRString := printf "%s/%d" $layer3Interface.Ipv4Address $layer3Interface.Ipv4Prefix }}
        {{ $layer3InterfaceCIDR := $networkUtil.ParseCIDR $layer3InterfaceCIDRString }}

        {{ $isIncluding := $subnetCIDR.IsIncluding $layer3InterfaceCIDR }}
        {{ if eq $isIncluding true }}

          {{ $exists := $subnetNodeInterfacesMap.Exists $subnet.ID }}
          {{ if ne $exists true }}
            {{ $a := $collectionUtil.Map }}
            {{ $subnetNodeInterfacesMap := $subnetNodeInterfacesMap.Put $subnet.ID $a }}
          {{ end }}

          {{ $a := $subnetNodeInterfacesMap.Get $subnet.ID }}
          {{ $exists := $a.Exists $layer3Interface.Node.ID }}
          {{ if eq $exists true }}
            {{ $b := $a.Get $layer3Interface.Node.ID }}
            {{ $b := $collectionUtil.Append $b $layer3Interface }}
            {{ $b := $a.Put $layer3Interface.Node.ID $b }}
          {{ else }}
            {{ $b := $collectionUtil.Slice $layer3Interface }}
            {{ $b := $a.Put $layer3Interface.Node.ID $b }}
          {{ end }}

        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{ $linkMap := $collectionUtil.Map }}
  {{ range $subnetID, $nodeInterfacesMap := $subnetNodeInterfacesMap }}
    {{ $subnet := $subnetMap.Get $subnetID }}
    {{ range $nodeID, $interfaces := $nodeInterfacesMap }}
      {{ $node := $nodeMap.Get $nodeID }}
      {{ $interfaceNames := $collectionUtil.FieldSlice $interfaces "Name" }}
      {{ $interfaceIPv4AddressesWithPrefix := $collectionUtil.FieldSlice $interfaces "Ipv4AddressWithPrefix" }}
      {{ $joinedInterfaceNames := $stringUtil.Join $interfaceNames "," }}
      {{ $joinedInterfaceIPv4AddressesWithPrefix := $stringUtil.Join $interfaceIPv4AddressesWithPrefix "," }}

      {{ $linkCount := len $linkMap }}
      {{ if ne $linkCount 0 }},{{ end }}{
      "source": "{{ $node.Name }}",
      "target": "{{ printf "%s/%d" $subnet.Address $subnet.Prefix }}",
      "meta": {
        "interface": {
          "source": "{{ $joinedInterfaceNames }}",
          "target": ""
        },
        "mac_address": null,
        {{ $joinedInterfaceIPv4AddressesWithPrefixLen := len $joinedInterfaceIPv4AddressesWithPrefix }}
        "ipv4_address": {
          "source": "{{ if eq $joinedInterfaceIPv4AddressesWithPrefixLen 0 }}-{{ else }}{{ $joinedInterfaceIPv4AddressesWithPrefix }}{{ end }}",
          "target": ""
        }
      }
    }
      {{ $linkMap := $linkMap.Put true true }}
    {{ end }}
  {{ end }}
  ]
}
